p {
    color: aqua
}

h2 {
    color: blueviolet;

}

.projects {
    color: green;
}

#services {
    color: pink;
}

#contact {
    color: orange;
}

body {
    text-align: center;

}

ul {
    list-style: none;
}

h2 {}