p {
    color: aqua
}

h2 {
    color: blueviolet;

}

.projects {
    color: green;
}

#services {
    color: pink;
}

#contact {
    color: orange;
}

body {
    text-align: center;

}

ul {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}

nav ul {
    display: flex;
    gap: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

main section {
    flex: 1;
    min-width: 300px;
    border: 1px solid black;
    padding: 20px;
}